{% extends 'headerPage.html' %} {% block content %}


<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area" style="height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                                <span>HI, MY NAME IS Muhammad ijaz &amp; I AM A</span><br>
                                <span class="cd-words-wrapper">
                        <b class="is-visible"> FULL Stack WEB DEVELOPER & ML engineering</b> <br>
                                <b>DEVELOPER</b> 
                                <b>FATHER</b>
                                </span>
                            </h1>
                        </section>
                        <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                            With 10 years experience, I've occupied many roles including digital design director,<br> web designer and developer. This site showcases some of my work.
                        </h2>
                        <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right rounded-pill" data-wow-delay=".9s" href="/" target="_blank">Download More</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--/#main-slider-->

    <div class="container">

        <div class="container"></div>
        <h2 class="mt-5"> Uplaod Image </h2>

        <form method="post" enctype="multipart/form-data" action="predictImage">
            {% csrf_token %}
            <div class="col-md-4 col-sm-4"><label for="fname">Upload Image File Here:</label> </div>

            <input name="filePath" type="file"><br><br>
            <br>
            <input type="submit" class="btn rounded-pill" style="background-color: #1e81b0; padding: 5px 20px;" value="Submit">
        </form>
    </div>

    </div>


    <div class="mt-5"></div>
    {% endblock %}